* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: #333;
}

.head {
    height: 100vh;
    width: 100vw;
    background-color: #01baef;
    color: white;
    font-size: 2rem;
    font-weight: bolder;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: head 1s ease-in-out 0.5s 1 forwards;
    z-index: 1;
}

@keyframes head {
    0% {
        font-size: 4rem;
        height: 100vh;
    }
    100% {
        font-size: 1.5rem;
        height: 10vh;
    }
}

.head h1 {
    text-align: center;
    cursor: default;
    color: white;
    padding: 0.5rem 2rem;
    border-radius: 1rem;
    transition: all 300ms ease-in-out;
}
.head h1:active {
    transform: scale(0.75);
}

.btn {
    display: none;
    height: 90vh;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    z-index: 0;
}

.btn a {
    text-decoration: none;
    text-align: center;
    padding: 2rem 4rem;
    border: solid 0.25rem #01baef;
    color: #01baef;
    font-size: 5rem;
    font-weight: bolder;
    border-radius: 4rem;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    transition: all 250ms ease-in-out;
    opacity: 0;
}

.btn a:hover {
    transition: all 250ms ease-in-out;
    color: white;
}

.btn a:active {
    transform: scale(0.95);
}

@keyframes start {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.start-show {
    animation: start 500ms ease-in-out forwards;
}

.btn a::before {
    content: '';
    background-color: #01baef;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border-radius: 1rem; */
    width: 0;
    height: 0;
    transition: all 250ms ease-in-out;
}

.btn a:hover::before {
    animation: hover 500ms ease-in-out forwards;
}

@keyframes hover {
    0% {
        width: 0%;
        height: 1%;
    }
    50% {
        width: 100%;
        height: 1%;
    }

    100% {
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 768px) {
    .head {
        height: 100vh;
        font-size: 1.5rem;
    }
    .btn a {
        font-size: 2rem;
        padding: 1rem 2rem;
    }
    .btn {
        height: 90vh;
    }

}

@media (max-width: 425px) {
    .head {
        height: 100vh;
        font-size: 1.25rem;
    }
    .btn a {
        font-size: 1.5rem;
        padding: 1rem 2rem;
        border-width: 2px;
    }
}


/* DARK THEME */
body.dark {
    background-color: #121212;
    color: white;
}
body.dark .head {
    background-color: #01baef;
    color: white;
}
body.dark .btn a {
    border-color: #01baef;
    color: #01baef;
}
body.dark .btn a:hover::before {
    background-color: #01baef;
}
body.dark .btn a:hover {
    transition: all 250ms ease-in-out;
    color: #121212;
}
