* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: #333;
}
body.dark {
    background-color: #1a1a1a;
    color: #ccc;
}
.head {
    height: 10vh;
    background-color: #01baef;
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bolder;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.head h1 {
    text-align: center;
    cursor: default;
    color: white;
    padding: 0.5rem 2rem;
    border-radius: 1rem;
    transition: all 300ms ease-in-out;
}

.head h1 a{
    text-decoration: none;
    color: white;
}

.head h1:hover {
    background-color: white;
    color: #01baef;
    transition: all 300ms ease-in-out;
    transform: scale(1.125);
}

.head h1:active {
    transform: scale(0.75);
}

.container {
    display: flex;
    align-items: stretch;
    justify-content: center;
    padding: 1rem 2rem;
}
.quiz-container {
    padding: 1rem;
    width: 70%;
}
.question {
    padding: 1rem;
    margin: 1rem;
    border: solid 2px black;
    border-radius: 1rem;
    font-size: 1.5rem;
}
.question h2 {
    margin: 1rem;
}
.question p {
    margin: 1rem;
}
.answers {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ans {
    font-size: 1.5rem;
    margin: 0.5rem;
    border-radius: 1rem;
    color: #01baef;
    border: solid 2px #01baef;
    width: 100%;
    padding: 1rem;
    transition: all 100ms ease-in-out;
}
.ans:hover {
    transition: all 100ms ease-in-out;
    cursor: pointer;
    transform: scale(1.05);
}


.quiz-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.next-btn {
    font-size: 1.5rem;
    border: none;
    padding: 1rem 3rem;
    background-color: #01baef;
    color: white;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}
.next-btn:hover {
    transition: all 200ms ease-in-out;
}
.next-btn:active {
    transition: all 100ms ease-in-out;
    transform: scale(0.90);
}

.quiz-explain {
    display: none;
    padding: 1rem;
    margin: 1rem;
    border: solid 2px black;
    border-radius: 1rem;
    font-size: 1rem;
}

.quiz-count {
    width: 30%;
    padding: 1rem;
    margin: 1rem 0;
}

.timer {
    text-align: center;
    padding: 1rem;
    border: solid 2px #01baef;
    border-radius: 1rem;
    font-size: 3rem;
    font-weight: bolder;
    color: #01baef;
    display: flex;
    justify-content: center;
    align-items: center;
}
.count {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 1rem;
}
.q-count {
    background-color: #666;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bolder;
    border-radius: 50%;
    aspect-ratio: 1/1;
    margin: 10%;
    border: 2px solid black;
}
.correct {
    background-color: #00c896;
    color: white;
    border: 2px solid #00a882;
}
.current {
    background-color: white;
    color: #01baef;
    border: 2px solid #01baef;
}

.wrong {
    background-color: #ff6b6b;
    color: white;
    border: 2px solid #e05252;
}

#mobile{
    display: none;
}

@media (max-width: 768px) {
    .quiz-count {
        display: none;
    }
    .quiz-container{
        width: 100%;
    }
    .question{
        display: flex;
    }
    #mobile{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
    }
}

@media (max-width:425px) {
    .question{
        display: block;
    }
    #mobile{
        width: 100%;
    }
}